<article class="post">
  <%- partial('_partials/gallery') %>
  <%- partial('_partials/toc') %>
  <div class="post-content">
    <div class="post-title">
      <h1 style="font-size: 32px;margin: 0 0 5px;"><%= page.title %></h1>
    </div>
    <div class="post-meta">
      <%if(is_post()){%>
      <span class="post-time"><i class="iconfont icon-calendar"></i><%- date(page.date,"YYYY-MM-DD")%>&nbsp;</span>
      <% if (page.categories && page.categories.length){ %>
      <% page.categories.each(function(sorting){ %>
      <a class="post-category" href="<%= url_for(sorting.path) %>">|&nbsp;<%= sorting.name %></a>
      <% }) %>
      <% } %>
      <!----------------------------------->
    </div>
    <%}%>
    <%- page.content %>
  </div>
  <% if (theme.post_footer.copyright){ %>
  <div style="padding: 1rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #ffcc00;
  border-left-width: 0.4rem;
  border-radius: 0.1rem;"><%- theme.post_footer.copyright %></div><% } %>
  <div class="post-footer"><%- theme.post_footer.end %></div>
</article>